<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&#128293 Best Restaurants &#128169</title>
    <link rel='stylesheet' href="/Content/css/bootstrap.css">
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
  </head>
  <body>
    @RenderBody()
  </body>
</html>
