@{
  Layout="Shared/_Layout";
}

<div class="container">
  <h1>@Model["cuisine"].GetName()</h1>
  <h3>Here are all the restaurants in this cuisine:</h3>

  @if (@Model["restaurants"].Count == 0)
  {
    <p>No restaurants have been added yet!</p>
  }
  else
  {
    <ol>
      @foreach (var restaurant in @Model["restaurants"])
      {
        <li><a href="/restaurants/@restaurant.GetId()">@restaurant.GetName()</li>
      }
    </ol>
  }

  <form action='/cuisine/edit/@Model["cuisine"].GetId()' method="get">
      <input type="hidden" name="cuisine-edit" id="cuisine-edit" value="cuisine-edit"><button type="submit">Edit this Cuisine</button>
  </form>
  <form action='/cuisine/delete/@Model["cuisine"].GetId()' method="get">
      <input type="hidden" name="cuisine-delete" id="cuisine-delete" value="cuisine-delete"><button type="submit">Delete this Cuisine</button>
  </form>
  <p><a href="/restaurants/new">Add a new restaurant</a></p>
  <p><a href="/">Return Home</a></p>
</div>
