<h1>Add a new restaurant</h1>
<form action="/restaurants/new" method="post">
  <label for="restaurant-description">Restaurant description:</label>
  <input id="restaurant-description" name="restaurant-description" type="text">
  <select name="cuisine-id">
    @foreach (var cuisine in Model)
    {
      <option value="@cuisine.GetId()">@cuisine.GetName()</option>
    }
  </select>
  <button type="submit">Add new restaurant</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/restaurants">View all restaurants</a></p>
