@{
  Layout="Shared/_Layout";
}

<div class="container">
  <h1>@Model.GetName()</h1>
  <h2>@Model.GetDescription()</h2>

  <form action='/restaurant/edit/@Model.GetId()' method="get">
      <input type="hidden" name="restaurant-edit" id="restaurant-edit" value="restaurant-edit"><button type="submit">Edit this Restaurant</button>
  </form>
  <form action='/restaurant/delete/@Model.GetId()' method="get">
      <input type="hidden" name="restaurant-delete" id="restaurant-delete" value="restaurant-delete"><button type="submit">Delete this Restaurant</button>
  </form>
  <a href="/restaurants/new">Add another restaurant</a>
  <a href="/restaurants">View all restaurants</a>
  <a href="/">Return Home</a>

</div>
